@charset "utf-8";
li{
    color: blue;
}
.bg-black{
    background-color: black;
}
span{
    border: 3px dotted brown;
}
#bg-yellow{
    background-color: yellow;
}
.bg-orange{
    background-color: orange;
}